.sidenav-container {
  
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

@media (min-width: 768px){

  .sidenav {
    display: none;
  }
}